_delete/*
*.zip
*~
*.bak
*.tmp
*.old
.DS_Store
composer.lock
composer.phar
/backend/runtime/*
/backend/www/assets/*
/backend/www/webstat/*
/console/runtime/*
/frontend/runtime/*
/frontend/www/assets/*
/frontend/www/i2/*
/frontend/www/tmp/*
/frontend/www/images/users/*
/frontend/www/images/admins/*
/frontend/www/images/news/*
/nbproject
.idea/
!.gitkeep